In [1]:
### Imports
import pandas as pd
import numpy as np

## Load datasets

In [2]:
# Order datasets
df_order_products_prior = pd.read_csv("../data/order_products__prior.csv")
df_orders = pd.read_csv("../data/orders.csv")

In [3]:
df_order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
df_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

## Clean data

In [5]:
# Consider only "prior" orders and remove all columns except order_id and user_id from df_orders
prior_order_user = df_orders.loc[df_orders.eval_set == "prior"]
prior_order_user = prior_order_user[["order_id", "user_id"]]

In [6]:
prior_order_user.head()

   order_id  user_id
0   2539329        1
1   2398795        1
2    473747        1
3   2254736        1
4    431534        1

In [7]:
# Remove all columns except order_id and user_id from df_orders
prior_order_product = df_order_products_prior[["order_id", "product_id"]]

In [8]:
prior_order_product.head()

   order_id  product_id
0         2       33120
1         2       28985
2         2        9327
3         2       45918
4         2       30035

## Build user product matrix

In [9]:
merged_order_product_user = pd.merge(prior_order_user, prior_order_product, on="order_id")

In [10]:
merged_order_product_user.head()

   order_id  user_id  product_id
0   2539329        1         196
1   2539329        1       14084
2   2539329        1       12427
3   2539329        1       26088
4   2539329        1       26405

In [11]:
df_user_product = merged_order_product_user[["user_id", "product_id"]]
df_user_product.head()

   user_id  product_id
0        1         196
1        1       14084
2        1       12427
3        1       26088
4        1       26405

In [ ]:
df_user_product.loc[df_user_product.user_id == 1]

In [30]:
df_user_product = df_user_product.groupby(["user_id", "product_id"]).size().reset_index().rename(columns={0:"quantity"})

In [31]:
df_user_product.head()

   user_id  product_id  quantity
0        1         196         1
1        1       10258         1
2        1       10326         1
3        1       12427         1
4        1       13032         1

In [32]:
df_user_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13307953 entries, 0 to 13307952
Data columns (total 3 columns):
user_id       int64
product_id    int64
quantity      int64
dtypes: int64(3)
memory usage: 304.6 MB

In [36]:
users = np.sort(df_user_product.user_id.unique())
products = np.sort(df_user_product.product_id.unique())
quantity = np.sort(df_user_product.quantity)

In [37]:
quantity

array([1, 1, 1, ..., 1, 1, 1])