In [1]:
### Imports
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import gensim
import scipy.sparse as sparse
# Set seaborn color palette
colors = sns.color_palette("pastel")
# Import for checking th python version
import struct
%matplotlib inline
# Surprise related Imports
from surprise import SVD
from surprise import Dataset
from surprise import evaluate, print_perf
import time

In [2]:
# Loading Orders_Users Dataset
fields=["order_id","user_id"]
convert={'user_id':str}
df_orders_users = pd.read_csv("../data/orders.csv",usecols=fields,converters=convert,nrows=100000)
df_orders_users.head()

   order_id user_id
0   2539329       1
1   2398795       1
2    473747       1
3   2254736       1
4    431534       1

In [3]:
# Loading Orders_Products Dataset
fields=["order_id","product_id"]
df_orders_products = pd.read_csv("../data/order_products__prior.csv",usecols=fields,nrows=100000)
df_orders_products.head()

   order_id  product_id
0         2       33120
1         2       28985
2         2        9327
3         2       45918
4         2       30035

In [4]:
fields=["product_id","product_name"]
df_products = pd.read_csv("../data/products.csv",usecols=fields).set_index('product_id')
df_products.head()

                                                 product_name
product_id
1                                  Chocolate Sandwich Cookies
2                                            All-Seasons Salt
3                        Robust Golden Unsweetened Oolong Tea
4           Smart Ones Classic Favorites Mini Rigatoni Wit...
5                                   Green Chile Anytime Sauce

In [5]:
fields=["user_id","product_id"]
df_users_prodcuts=df_orders_users.merge(df_orders_products,on='order_id')
df_users_prodcuts.head()

   order_id user_id  product_id
0      8382      23        3873
1      8382      23       28199
2      8382      23       42372
3      8382      23       23106
4      8382      23       33819

In [6]:
# Remove this '.head(100000)' part to run for complete Dataset
fields=["user_id","product_id"]
df_users_prodcuts_sample=df_users_prodcuts[["user_id","product_id"]]
# .head(100000)

In [7]:
df_users_prodcuts_sample.head()

  user_id  product_id
0      23        3873
1      23       28199
2      23       42372
3      23       23106
4      23       33819

In [8]:
# Saving list of products per oredr ID
df_prodcuts_users_sample = df_users_prodcuts_sample.groupby("product_id").apply(lambda row: row['user_id'].tolist()).reset_index(name="users_list")

In [9]:
df_prodcuts_users_sample.head()

   product_id          users_list
0          25              [4297]
1          34              [4604]
2          45  [2593, 4631, 5801]
3          93              [4297]
4         149               [999]

In [10]:
# taking the longest order length
longest = np.max(df_prodcuts_users_sample["users_list"].apply(len))
print(longest)

48

In [11]:
# Making Orders to sentences of word2Vec
sentences = df_prodcuts_users_sample["users_list"].values
print(sentences)

[list(['4297']) list(['4604']) list(['2593', '4631', '5801']) ...,
 list(['1177']) list(['1423'])
 list(['999', '1920', '2229', '3219', '4282', '4588', '4789', '5321', '5610'])]

In [12]:
# Model on WordtoVec for Similar Prodcuts
model= gensim.models.Word2Vec(sentences, size=100, window=longest, min_count=2, workers=4)

In [13]:
#vocabulary of all the keys:
vocab = list(model.wv.vocab.keys())

In [14]:
# Get Top N similar Users to a product
def get_similar_users(user_id,top_n):
    suggestions = model.most_similar(positive=[vocab[user_id]], topn=top_n)
    output = list()
    for suggestion in suggestions:
        output.append((int(suggestion[0]),suggestion[1]))
    return output

In [19]:
#Printing k similar Users for n random Users:
def print_k_suggestions_for_n_prodcuts(n,k):
    for i in range(n):
        print("User is : ",i)
        print("related Users are : ")
        suggestions=get_similar_users(i,k)
        print([suggestion[0] for suggestion in suggestions])

In [20]:
print_k_suggestions_for_n_prodcuts(2,5)

User is :  0
related Users are :
[5729, 2229, 2646, 4067, 4974]
User is :  1
related Users are :
[2173, 818, 2184, 2258, 5721]

In [24]:
# Saving list of products per oredr ID
df_user_products_list_sample = df_users_prodcuts_sample.groupby("user_id").apply(lambda order: order['product_id'].tolist()).reset_index(name="quantity")

In [25]:
df_user_products_list_sample.head()

  user_id                                           quantity
0    1059  [29672, 432, 23102, 44765, 19057, 30233, 47766...
1    1072  [30776, 17158, 45603, 48559, 20738, 44613, 211...
2    1082                       [42389, 39409, 10199, 21903]
3    1164                 [18078, 9689, 16973, 47029, 41408]
4    1177          [49621, 21137, 34949, 24841, 14633, 7175]