In [1]:
### Imports
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import gensim
import scipy.sparse as sparse
# Set seaborn color palette
colors = sns.color_palette("pastel")
# Import for checking th python version
import struct
%matplotlib inline
# Surprise related Imports
from surprise import SVD
from surprise import Dataset
from surprise import evaluate, print_perf
import time

In [1]:
# Loading Orders_Users Dataset and printing Head
fields=["order_id","user_id"]
df_orders_users = pd.read_csv("../data/orders.csv",usecols=fields,nrows=10000)
df_orders_users.head()

NameError: name 'pd' is not defined

In [3]:
fields=["order_id","product_id"]
convert={'product_id':str}
df_orders_products = pd.read_csv("../data/order_products__prior.csv",usecols=fields,nrows=10000,converters=convert)
df_orders_products.head()

   order_id product_id
0         2      33120
1         2      28985
2         2       9327
3         2      45918
4         2      30035

In [12]:
fields=["user_id","product_id"]
df_user_prodocut=df_orders_users.merge(df_orders_products,on='order_id')
df_user_prodocut.head()

   order_id  user_id  product_id
0        40      382       10070
1        40      382       42450
2        40      382       33198
3        40      382       34866
4       214      503        5499